@model TreeManager.Models.Node

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Węzeł</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdParent)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Wróć do drzewa", "Index") | 
    @Html.ActionLink("Wróć do listy", "Table") <br />
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.Id })
</p>
