@model jsTree3.Models.JsTree3Node

@{
    ViewBag.Title = "Drzewo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/jstree")

<p>
    @Html.ActionLink("Dodaj nowy węzeł", "Create") <br />
    @Html.ActionLink("Tabela wszystkich węzłów", "Table")
</p>
<p>Wskazówka: Wciśnij dwukrotnie na węzeł, aby zobaczyć jego szczegółowe dane</p>

<div id="treeManage"></div>
@Scripts.Render("~/bundles/jstree")

<!--/Views/Nodes/Index-->
<script>
    $.jstree.defaults.core.themes.variant = "large";
    $('#treeManage').jstree({
        'core': {
            'check_callback': CheckOperation(),
            'data':@Html.Raw(Json.Encode(Model)),
        },
        'plugins': ['dnd']
    }).bind("move_node.jstree", function (e, data) {
        var movedNodeId = data.node.id;
        var newParentId = data.parent;
    });

    function CheckOperation(operation, node, parent, position, more) {
        if (operation == "move_node") {
            return true;
        }
        else if (operation == "create_node") {
            return false;
        }
        else if (operation == "rename_node") {
            return false;
        }
        else if (operation == "delete_node") {
            return false;
        }
        else if (operation == "copy_node") {
            return false;
        }
        else if (operation == "edit") {
            return false;
        }
        else
            return true;
    }

    $('#treeManage').bind("dblclick.jstree", ".jstree-anchor", $.proxy(function (e) {
        var node = $(e.target).closest("li");
        var id = node[0].id; //id of the selected node
        window.open("./Nodes/Details/" + id, "_top");
    }));

</script>
